<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reCallElide</key>
	<string>reCallElide</string>
	<key>queryWholeProducts</key>
	<string>queryWholeProducts</string>
	<key>callElide</key>
	<string>callElide</string>
	<key>queryCompletely</key>
	<string>queryCompletely</string>
	<key>soldOut</key>
	<string>soldOut</string>
	<key>logout</key>
	<string>loginOut</string>
	<key>registerDeviceId</key>
	<string>registerDeviceId</string>
	<key>queryProduct</key>
	<string>queryProduct</string>
	<key>combineTable</key>
	<string>combineTable</string>
	<key>specialRemark</key>
	<string>specialRemark</string>
	<key>ProductsFinish</key>
	<string>suppProductsFinish</string>
	<key>PrintOrder</key>
	<string>priPrintOrder</string>
	<key>changTableState</key>
	<string>changTableState</string>
	<key>checkAuth</key>
	<string>checkAuth</string>
	<key>getOrdersBytabNum</key>
	<string>getOrdersBytabNum</string>
	<key>baseUrl</key>
	<string>http://61.174.28.122:8010/cmenu/CmenuServices.asmx/</string>
	<key>pChuck</key>
	<string>pChuckC</string>
	<key>pEnterSubscribeTab</key>
	<string>pEntersubscribetabC</string>
	<key>pFreeGet</key>
	<string>sendc</string>
	<key>pGogo</key>
	<string>callPubitem</string>
	<key>pGotoTab</key>
	<string>pGotoTabC</string>
	<key>pListTable</key>
	<string>listTables</string>
	<key>pOver</key>
	<string>pOverC</string>
	<key>pListSubscribeTab</key>
	<string>pListsubscribetabC</string>
	<key>pPrintQuery</key>
	<string>pPrintqueryC</string>
	<key>pQuery</key>
	<string>pQueryC</string>
	<key>pRebate</key>
	<string>pRebateC</string>
	<key>pSendTab</key>
	<string>pSendtabC</string>
	<key>pSignTeb</key>
	<string>changeTable</string>
	<key>pStart</key>
	<string>startc</string>
	<key>pCommentFood</key>
	<string>pSubmitItemEvaluation</string>
	<key>pGetFoodComment</key>
	<string>pGetItemEvaluation</string>
	<key>pGetFoodVideo</key>
	<string>pGetItemVideoPath</string>
	<key>pListSubscribeOfTable</key>
	<string>pListsubscribetab</string>
	<key>pListResv</key>
	<string>pListResv</string>
	<key>pLoginUser</key>
	<string>login</string>
	<key>checkFoodAvailable</key>
	<string>sendc</string>
</dict>
</plist>
